# Exclude HELP.md
HELP.md

# Exclude build artifacts
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# STS (Spring Tool Suite) specific files
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code specific files
.vscode/

# Build directories
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Sensitive properties file
src/main/resources/application.properties
